@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import these lines into your global CSS (e.g., styles/globals.css) */
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@font-face {
  font-family: 'Poetsen One';
  src: url('/font/PoetsenOne-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .bg-play-gradient {
    background: linear-gradient(90deg, #F4E3B9 0%, #F4E3B9 100%);
  }
}

.poetsen-one-regular {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bg-image-responsive {
  height:60vh;
}

.bg-image-shift {
  position: 'absolute';
  top: '-100px';
}

.question-text {
  color: white;
  text-align: center; /* Aligns text to the center */
  padding-left: 1rem; /* px-4 */
  padding-right: 1rem; /* px-4 */
}

.horizontal-option-button{
    margin-top: 0.5rem; /* mt-2 */
    margin-bottom: 0.5rem; /* mb-2 */
    display: flex; /* flex */
    align-items: center; /* items-center */
    padding-left: 1rem; /* px-4 */
    padding-right: 1rem; /* px-4 */
    padding-top: 1rem; /* py-4 */
    padding-bottom: 1rem; /* py-4 */
    font-family: 'Noto Sans', sans-serif; /* noto_sans_sc */
    background-color: #9B80B4; /* bg-[#9B80B4] */
    border-radius: 35px; /* rounded-[35px] */
    cursor: pointer; /* cursor-pointer */
    width: 50%; /* w-1/2 */
    transition: background-color 0.3s; /* transition-colors */
    color: white;
    font-size: 0.85rem;
    text-align: center;
  }
  
.horizontal-option-button:hover {
  background-color: #8A71A3; /* hover:bg-[#8A71A3] */
}

.vertical-option-button {
  padding-left: 1.5rem; /* px-6 */
  padding-right: 1.5rem; /* px-6 */
  padding-top: 0.6rem; /* py-4 */
  padding-bottom: 0.6rem; /* py-4 */
  background-color: rgba(155, 128, 180, 0.6); /* bg-[#9B80B4] with 0.6 opacity */
  border-radius: 35px; /* rounded-[35px] */
  cursor: pointer; /* cursor-pointer */
  color: white; /* text-white */
  text-align: center; /* text-center */
  transition: background-color 0.3s; /* transition-colors */
}

.vertical-option-button:hover {
  background-color: #8A71A3; /* hover:bg-[#8A71A3] */
}

.white-shadow {
  text-shadow: none; /* No shadow by default */
}

.white-shadow:hover {
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.7), 0 0 30px rgba(255, 255, 255, 0.5); /* White shadow on hover */
}


/* Media query for larger screens */
@media (min-width: 768px) {
  
}